*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-size: 20px;
}

body { background-color: rgb(0, 0, 40); }

.cards {
      margin-top: 20px;
      gap: 15px;
      display: flex;
      flex-wrap: wrap;
}

.row {
      gap: 15px;
      display: flex;
}

.card1 {
      width: 220px;
      height: 240px;

      gap: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;

      overflow: hidden;
      border-radius: 20px;
      background-color: rgb(0, 0, 50);
      border: 1px solid rgb(0, 0, 150);

      transition: .8s ease-in;
}
.card1:hover{
     animation: pulsante infinite alternate 1.8s;
     margin: 0 20px;
}
.card1 h6.number { margin-top: -10px; }
.card1 img { width: 60px; }
.card1 div { text-align: center; font-size: 16px; }

@keyframes pulsante {
      0% {
            transform: scale(1.0);
      }
      100% {
            transform: scale(1.1);
      }
}